{
    "DSMAddress": "syno.ip.add.ress",
    "DSMPort": "5000",
    "Username": "admin",
    "Password": "changeme",
    "Secure": false,
    "Cert_Verify": false,
    "ActiveBackup": true,
    "HyperBackup": true,
    "HyperBackupVault": true,
    "ExporterPort": "9771",
    "ExporterAddress": "0.0.0.0",
    "DSM_Version": 7
}